<div class="boxVideoLinkURL">
    <video class="{{ include.class }}" {{ include.play_option }} poster="{{ include.path_image | relative_url }}">
        <source src="{{ include.path_video | relative_url }}" type="video/mp4">
        <p>Votre navigateur ne prend pas en charge les vidéos HTML5.Mais vous pouvez
            toujours
            <a href="{{ include.path_video | relative_url }}">la télécharger</a> !
        </p>
    </video>
    <div class="boxVideoLinkURL__link">
        <a href="{{ include.url_link }}" target="__blank"
            class="boxVideoLinkURL__play_button_max"></a>
    </div>
</div>
<p class="text-secondary">{{ include.commentaire}}</p>