/* ARRIERE PLAN */
.background {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.bgImage {
    background-image: url("./img/robotique.jpg");
}

/* VIDEO */
video {
    width: 100%;
}

/* VIGNETTES */
.vignettes {
    max-width: 200px;
    height: auto;
}

/* DETAIL DU CODE */
.container-code {
    width: 100%;
    height: 100%;
}

/* COMPOSANTS */
.composant{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.composant-card{
    display: flex;
    flex-direction: column;
    width: 17rem;
    margin: 5px;
}

.composant-card__text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(151, 228, 149, 0.5);
    padding: 5px;
    height: 200px;
    font-weight: bold;
}

.composant-card__image{
    height: 100%;
    background-color: white;
}

.composant-card img{
    width: 100%;
    max-height:270px;
}


/* BACKGROUND COLOR */
.bgColor--blackLight {
    background-color: rgba(0, 0, 0, 0.3);
}

.bgColor--blackMedium {
    background-color: rgba(0, 0, 0, 0.5);
}

.bgColor--blueLight {
    background-color: rgba(11, 26, 26, 0.8);
}

.bgColor--greenLight{
    background-color: rgba(151, 228, 149, 0.5);
}

.bgColor--orangeLight{
    background-color: rgba(191, 140, 140, 0.2);
}

/* TEXT COLOR */
.colorGreen {
    color: rgb(0, 255, 0);
}

.toggle{
    cursor: pointer;
}

/* OMBRAGES */
.box-shadow-down {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.txtShadow--black{
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.txtShadow--white {
    text-shadow: 1px 2px 10px #ffffff;
}

