---
layout: default
title: Pièces de la télécommande
description: Découvrez la liste des pièces nécessaire pour réaliser la télécommande.
permalink: /telecommande/liste-des-composants.html
---

<!-- TELECOMMANDE -->



<article>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 py-5 telecom-composant__header">
                <div class="telecom-composant__header__box-title">
                    <div class="text-center">
                        <h1 class="txtShadow--black txt-color--yellow py-4 text-uppercase">Conception de la télécommande
                        </h1>
                        <h2 class="text-white txtShadow--black py-5">Liste des composants</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2 rounded">
        <div class="row text-white">
            <div class="col-12 composant">
                <!-- CARTE -->
                <article>
                    {% include components/cardRc.html 
                    cardRc__title = "Plaque de plexiglass"
                    cardRc__linkOut = true
                    cardRc__link = "https://decoration.ooreka.fr/fiche/voir/664797/couper-du-plexiglas"
                    cardRc__text ="Comment couper le pexigless"
                    cardRc__img = "/assets/img/composants/pexi.png" 
                    %}
                </article>
                
                <!-- CARTE -->
                <article>
                    {% include components/cardRc.html 
                    cardRc__title = "Arduino uno"
                    cardRc__linkOut = true
                    cardRc__link = "https://www.arduino.cc/"
                    cardRc__text = "Découvrir le site officiel"
                    cardRc__img = "/assets/img/composants/arduino.png" 
                    %}
                </article>
                
                <!-- CARTE -->
                <article>
                    {% include components/cardRc.html 
                    cardRc__title = "Joystick de jeu"
                    cardRc__img = "/assets/img/composants/joystick.png"
                    %}
                </article>
                
                <!-- CARTE -->
                <article>
                   {% include components/cardRc.html 
                    cardRc__title = "Cables pour plaque de prototypage"
                    cardRc__img = "/assets/img/composants/cable.png"
                    %} 
                </article>
                
                <!-- CARTE -->
                <article>
                    {% include components/cardRc.html 
                    cardRc__title = "Résistances"
                    cardRc__img = "/assets/img/composants/resistances.png"
                    %}
                </article>
                
                <!-- CARTE -->
                <article>
                    {% include components/cardRc.html 
                    cardRc__title = "Bouton poussoir"
                    cardRc__img = "/assets/img/composants/bouton-poussoir.png"
                    %}
                </article>
                
                <!-- CARTE -->
                <article>
                    {% include components/cardRc.html 
                    cardRc__title =  "Led"
                    cardRc__link =  "/telecommande/diode-electroluminescente.html"
                    cardRc__img = "/assets/img/composants/led.png"
                    %}
                </article>
                
                <!-- CARTE -->
                <article>
                   {% include components/cardRc.html 
                    cardRc__title =  "Emetteur Récepteur sans Fil 2.4G 100m NRF24L01+PA+LNA avec antenne KY67"
                    cardRc__link = "/telecommande/emetteur-recepteur-radio.html"
                    cardRc__text ="Installation et configuration de l'émetteur Récepteur NRF24L01"
                    cardRc__img = "/assets/img/composants/emetteur-recepteur.png"
                    %} 
                </article>
                
                <!-- CARTE -->
                <article>
                   {% include components/cardRc.html 
                    cardRc__title =  "Circuit imprimé 4x6cm"
                    cardRc__img = "/assets/img/composants/plaquesasouder.png"
                    %} 
                </article>

                <!-- CARTE -->
                <article>
                    {% include components/cardRc.html 
                    cardRc__title =  "Pin strip Reglette à broches"
                    cardRc__img = "/assets/img/composants/broches.png"
                    %}
                </article>
            </div>
        </div>
    </div>
</article>