<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="font-weight-bold">La charte du forum</h1>
            <h2 class="txt-color--raspberry">Votre responsabilité </h2>
            <p>Nous vous rappelons que votre responsabilité d'auteur est engagée lorsque vous utilisez ce média pour
                publier des informations. Ne perdez pas de vue que les messages que vous publiez sur les chats ou les
                forums sont redistribués à un grand nombre d'usagers. </p>
            <p>Nous vous recommandons d'être critique et très vigilant vis à vis des informations qui pourront être
                échangé sur les forums concernant les recettes ou autres. Vous pouvez nous signaler tout message suspect
                afin qu'il soit enlevé.</p>
            <p>Étant donné la nature en temps réel de ce Forum, il nous est impossible de passer en revue tous les
                messages ou même de confirmer la validité des informations soumises. </p>
            <p>Veuillez vous rappeler que nous ne garantissons pas l'exactitude, la perfection ou l'utilité d'aucun
                message, nous ne sommes pas responsable du contenu d'aucun message et de l'utilisation qui pourra en
                être faite. Le propriétaire du forum ne saurait être considéré comme responsable du contenu des messages
                dont il n'est pas l'auteur.</p>
            <p>
                Pour tout litige, vous pouvez contacter l'administrateur de ce forum ou envoyer un message par le biais
                du formulaire de contact. Nous vous rappelons que messages et images appartiennent à la communauté après
                publication et ne seront pas supprimés en cas de suppression de compte (sauf données à caractères
                personnelles c.a.d. infos directement comme le nom, le prénom, le sexe, un portrait, une photo de la
                maison ou indirectement comme le numéro de sécurité sociale, le lieu et la date de naissance).</p>
            <p>Ne mentionnez en aucun cas d'informations personnelles comme votre adresse, votre email ou votre
                téléphone qui pourraient être utilisés par des personnes mal intentionnées.</p>

            <h2 class="txt-color--raspberry">Les règles d'usage du forum</h2>
            <ul>
                <li>Il est interdit de rediffuser à quiconque ou de réutiliser le forum, son contenu et la liste des
                    usagers dans tout autre contexte que celui du fonctionnement du forum lui même.</li>
                <li>Rechercher sur le forum, dans les tutoriaux et dans la FAQ du site avant de poster un nouveau
                    message</li>
                <li>Donner un titre qui correspond (dans la mesure du possible) exactement au corps du message, pas de :
                    "Help", "A l’aide", "J’ai un problème", etc.</li>
                <li>Pas de sujet : "URGENT".</li>
                <li>Pas de langage SMS ou d'excès d'abréviations, le français est le langage de ce forum.</li>
                <li>Pas de titre tout en MAJUSCULES (ce n'est pas la peine de crier, tout le monde vous entend), ou
                    contenant des caractères superflus.</li>
                <li>Les sujets doivent porter sur le thème proposé par le forum (bassin, potager, etc.)</li>
                <li>Un "bonjour", "s'il te plait" et "au revoir" ne font de mal à personne (ce n'est pas obligatoire,
                    mais ça fait toujours plaisir). Ça donnerait une allure plus sympathique à votre message. Et le
                    "merci", bien souvent oublié, montre que vous êtes reconnaissant envers la personne qui vous a aidé.
                </li>
                <li>Pour les insultes, prises de têtes, asticotages gratuits ou tout autre règlement de compte, merci de
                    passer par d'autres sites tels que des systèmes de messagerie instantanée.</li>
                <li>Certaines personnes ont un humour plus que débordant. Aussi, quand ils vous répondent de manière
                    "directe", ne les infligez pas d'insultes en tout genre et apprenez à lire entre les lignes. La
                    bonne entente est de mise sur le forum et si vraiment vous voulez vous engueuler, reportez-vous au
                    point précédent.</li>
                <li>Bien préciser votre question en indiquant votre région, l'orientation, ... Nous vous invitant à
                    préciser ces informations dans votre profil également ou signature.</li>
                <li>Pas message de publicité pour un site ou une application. Adressez-vous plutôt au webmaster
                    d'auJardin.info via les différents formulaires prévus à cet effet.</li>
                <li>Ne limitez pas votre réponse à un lien internet.</li>
                <li>Ne transformez pas votre zone de signature en annuaire, et limitez celle-ci à 2 liens maximum, ce
                    qui représente déjà une (ou deux) de plus que sur certains forums. Évitez aussi toute image ou
                    bannière dans celle-ci ainsi que toute URL de site à contenu dit "adulte". Un seul lien externe à
                    "Au Jardin" est autorisé.</li>
                <li class="text-danger">Les liens publicitaires sont interdits dans la signature.</li>
                <li>Ne pas hésiter à participer aux autres discussions du forum (c’est une communauté d’entraide).</li>
                <li>Ne pas répondre directement par mail, car vos informations peuvent intéresser les autres (Ayez
                    "l'esprit de communauté").</li>
                <li>Ne pas poser plusieurs fois de suite votre question, votre remarque ou vos photos.</li>
                <li>Si c'est votre première intervention, n'hésitez pas à vous présenter en quelques mots sur le forum
                    "Aux présentations".</li>
                <li>Développez vos interventions, ne postez pas des messages se limitant à quelques smileys. Pour la
                    convivialité, des forums comme le café du jardin sont prévus à cet effet.</li>
                <li>Indiquez l'auteur pour les citations ou les photos.</li>
                <li>Hormis les forums type "café", l'humour est accepté dans les échanges mais l'excès d'humour dans la
                    mesure ou il tend à dénaturer le sujet est un hors sujet qui est modéré en conséquence.</li>
            </ul>

            <h2>Les messages</h2>
            <p>Le contenu réservé à un public adulte ou averti n'est pas accepté. Cela concerne les images et les vidéos
                présentant les éléments suivants :</p>
            <ul>
                <li>scènes de nudité intégrale.</li>
                <li>images, vidéos ou jeux à caractère pornographique.</li>
                <li>dessins animés ou bandes dessinées pornographiques (hentai/ecchi).</li>
                <li>scènes de mort, torture et souffrance</li>
            </ul>

            <h2>Les modérateurs</h2>
            <p>Vous n'êtes pas d'accord avec un modérateur, ce sont des choses qui arrivent ! Un modérateur n'est somme toute qu'un être humain, il n'est donc pas infaillible dans ses actes. En cas de conflit avec l'un des modérateurs du forum, pensez à utiliser la messagerie privée pour régler ce problème avec lui. Cela évitera les déballages en public qui ne servent pas à grand chose et risquent même de vous desservir. En cas de réelle difficulté, les administrateurs du forum sont à votre écoute.</p>
            <p>Les modérateurs du site sont en droit de supprimer tout élément qu'ils jugent contraire au maintien de la bonne ambiance de ce forum.</p>
            <p>Le rôle du modérateur n'est pas de détricoter des échanges qui partent en vrille. Dans ce type de joutes verbales les protagonistes ont tous leur part de responsabilité. Le modérateur siffle la fin du jeu par un avertissement ou en fermant l'échange, et on repart sur des bases paisibles sans remettre de l'huile sur le feu. </p>

            <h2>L'administrateur</h2>
            <p>L’administrateur se réserve le droit de modifier et de mettre à jour, sans préavis, la présente charte dans l'intérêt du forum et de la communauté.</p>
        </div>
    </div>
</div>