<!-- 
    VARIABLES
        modal-title
        modal-image
        modal-id
        modal-commentaires 
-->
<style>
    .modal__vignettes{
        max-width: 80%;
        height: auto;  
    }
    .modal__cursor-zoomIn{
        cursor: zoom-in;
    }
</style>

<!-- Image trigger modal -->
<img src="{{ modal-imgSRC }}" alt="{{ modal-title }}" class="modal__vignettes modal__cursor-zoomIn" alt="Télécommande" data-toggle="modal" data-target="#{{ modal-id }}">
<!-- Modal -->
<div class="modal fade" id="{{ modal-id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog modal-{{ modal-breakpoint }}">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title text-dark" id="exampleModalLabel">{{ modal-title }}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
              <p></p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
           </div>
       </div>
   </div>
</div>