
@mixin changeOpacity($delai, $min, $max) {
    @include auto-prefix(animation, changeOpacity $delai);
    @include keyframes(changeOpacity) {
        from {
            opacity: $min;
        }
    
        to {
            opacity: $max;
        }
    }
}

// 
@mixin move-Axe-Y($name,$delai, $start-Top:0, $startRotateDgr:0deg) {
    @include auto-prefix(animation, $name $delai);

    @include keyframes($name) {
        0% {
            @include auto-prefix(transform, translateY($start-Top) rotateZ($startRotateDgr));
        }

        100% {
            @include auto-prefix(transform, translateY(0));

        }
    }
}

// 
@mixin move-Axe-X($name, $delai, $start-Top:0, $startRotateDgr:0deg) {
    @include auto-prefix(animation, $name $delai);

    @include keyframes($name) {
        0% {
            @include auto-prefix(transform, translateX($start-Top) rotateZ($startRotateDgr));
        }
    
        100% {
            @include auto-prefix(transform, translateX(0));
        }
    }
    
}

@mixin zoom($delai,$zoomSize) {
    @include auto-prefix(animation,zoom $delai ease-in-out);

    @include keyframes(zoom) {
        0% {
            @include auto-prefix(transform, scale(0));
        }
    
        100% {
            @include auto-prefix(transform, scale($zoomSize));
        }
    }
}

@mixin shadow($delai) {
    @include auto-prefix(animation,shadow $delai alternate infinite);

    @include keyframes(shadow) {
        0% {
            
        }    
        100% {
            text-shadow: 1px 2px 2px #ffffff,-1px -2px 1px #ffffff;
            
        }
    }
}

// 
@mixin changeOpacityInfinite {
    @include auto-prefix(changeOpacityInfinite, 1.5s ease-in-out alternate-reverse infinite);

    @include keyframes(changeOpacityInfinite) {
        0% {
            opacity: .2;
        }
    
        100% {
            opacity: 1;
        }
    }
}

// 
@mixin solarise {
    @include auto-prefix(animation, solarise 3s ease-in-out);

    @include keyframes(solarise) {
        FROM {
            text-shadow: 2px 0 10px rgb(243, 206, 179);
        }
    
        TO {
            text-shadow: 0 0 0 rgb(230, 184, 151);
        }
    }
}

// 
@mixin invertColor {
    @include auto-prefix(animation,invertColor 2s alternate infinite);

    @include keyframes(invertColor) {
        to {
            -webkit-filter: invert(0);
            filter: invert(0);
        }
    
        from {
            -webkit-filter: invert(1);
            filter: invert(1);
        }
    }
}

