
//****************************************

@mixin waitShow {
    -webkit-animation-name: wait;
    animation-name: wait;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    @-webkit-keyframes wait {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    }
    
    @keyframes wait {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    }
}



// 
@mixin changeOpacityInfinite {
    -webkit-animation: changeOpacityInfinite 1.5s ease-in-out alternate-reverse infinite;
    animation: changeOpacityInfinite 1.5s ease-in-out alternate-reverse infinite;
    @-webkit-keyframes changeOpacityInfinite {
        0% {
            opacity: .2;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @keyframes changeOpacityInfinite {
        0% {
            opacity: .2;
        }
    
        100% {
            opacity: 1;
        }
    }
}



// 
@mixin solarise {
    -webkit-animation: solarise 3s ease-in-out;
    animation: solarise 3s ease-in-out;
    @-webkit-keyframes solarise {
        FROM {
            text-shadow: 2px 0 10px rgb(243, 206, 179);
        }
    
        TO {
            text-shadow: 0 0 0 rgb(230, 184, 151);
        }
    }
    
    @keyframes solarise {
        FROM {
            text-shadow: 2px 0 10px rgb(243, 206, 179);
        }
    
        TO {
            text-shadow: 0 0 0 rgb(230, 184, 151);
        }
    }
}



// 
@mixin moveText-X {
    -webkit-animation: moveText-X 2s;
    animation: moveText-X 2s;
    @-webkit-keyframes moveText-X {
        FROM {
            -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
        }
    
        TO {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    
    @keyframes moveText-X {
        FROM {
            -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
        }
    
        TO {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
}



// 
@mixin moveText-Y {
    -webkit-animation: moveText-Y 1s;
    animation: moveText-Y 1s alternate-reverse infinite;
    @-webkit-keyframes moveText-Y {
        FROM {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }
    
        TO {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    
    @keyframes moveText-Y {
        FROM {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }
    
        TO {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}



// 
@mixin invertColor {
    -webkit-animation-name: invertColor;
    animation-name: invertColor;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    @-webkit-keyframes invertColor {
        to {
            -webkit-filter: invert(0);
            filter: invert(0);
        }
    
        from {
            -webkit-filter: invert(1);
            filter: invert(1);
        }
    }
    
    @keyframes invertColor {
        to {
            -webkit-filter: invert(0);
            filter: invert(0);
        }
    
        from {
            -webkit-filter: invert(1);
            filter: invert(1);
        }
    }
}



//
@mixin zoomInOutInfinite {
    -webkit-animation: zoomInOutInfinite 7s alternate-reverse infinite;
    animation: zoomInOutInfinite 7s alternate-reverse infinite;
    @-webkit-keyframes zoomInOutInfinite {
        to {
            scale: 1;
        }
    
        from {
            scale: 1.02;
        }
    }
    
    @keyframes zoomInOutInfinite {
        to {
            scale: 1;
        }
    
        from {
            scale: 1.02;
        }
    }
}

