.composants-vehicule{
    &__header {
        background-image:  url('./../img/header/electronique.jpg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        min-height: 400px;
        overflow: hidden;
        @include move-Axe-Y(header,4s, 25px);
    
        h1 {
            @include move-Axe-Y(cpRobot01, 1s, 100%)
        }

        h2 {
            @include move-Axe-Y(cpRobot02, 1s, -100%)
        }           
    }
}