@font-face {
	font-family: "Rubik-Black";
	src: url('./../font/Rubik/Rubik-Black.ttf');
}
@font-face {
	font-family: "Rubik-BlackItalic";
	src: url('./../font/Rubik/Rubik-BlackItalic.ttf');
}
@font-face {
	font-family: "Rubik-Bold";
	src: url('./../font/Rubik/Rubik-Bold.ttf');
}
@font-face {
	font-family: "Rubik-BoldItalic";
	font-style: italic;
	src: url('./../font/Rubik/Rubik-BoldItalic.ttf');
}
@font-face {
	font-family: "Rubik-Italic";
	font-weight: bold;
	src: url('./../font/Rubik/Rubik-Italic.ttf');
}
@font-face {
	font-family: "Rubik-Light";
	font-weight: bold;
	src: url('./../font/Rubik/Rubik-Light.ttf');
}
@font-face {
	font-family: "Rubik-LightItalic";
	font-weight: bold;
	src: url('./../font/Rubik/Rubik-LightItalic.ttf');
}
@font-face {
	font-family: "Rubik-Medium";
	font-weight: bold;
	src: url('./../font/Rubik/Rubik-Medium.ttf');
}
@font-face {
	font-family: "Rubik-MediumItalic";
	font-weight: bold;
	src: url('./../font/Rubik/Rubik-MediumItalic.ttf');
}
@font-face {
	font-family: "Rubik-Regular";
	font-weight: bold;
	src: url('./../font/Rubik/Rubik-Regular.ttf');
}