.footer {

    h3 {
        font-size: 1.4em;
        font-weight: 700;
    }

    h4 {
        font-size: 1.2em;
        font-weight: 500;
    }

    p {
        font-size: 0.8em;
    }

    a {
        text-decoration: none !important;

        &:link {
            color: white;
        }

        &:visited {
            color: white;
        }

        &:hover {
            color: rgb(178, 180, 169);
            text-shadow: 1px 1px 2px #080808;
        }

    }

    li {
        list-style: none;
        font-size: .8em;
        line-height: 2em;
    }

    &__video {
        &_1 {
            video {
                width: 100%;
            }
        }

        &__link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &__play-button {
            // @mixin play_button (position fleche, taille fleche, $ft-size, $padding)
            @include play_button(left 1rem center, .8rem, .7em, .5rem 1.5rem .5rem 3rem);

            // @mixin effect_play_button($animation_name, $delai, $valueIn, $valueOut, $bgColorIn, $bgColorOut,$textColorIn, $textColorOut)
            @include effect_play_button(footerVid01, 1s, left 1rem center, left 1.5rem center, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgb(107, 107, 107), rgba(0, 0, 0, 0.7));
        }

    }

    @media screen and (max-width:575px) {
        &__video__play-button {
            // @mixin play_button (position fleche, taille fleche, $ft-size, $padding)
            @include play_button(left 1rem center, .7rem, .7em, .2rem 1rem .2rem 3rem);

            // @mixin effect_play_button($animation_name, $delai, $valueIn, $valueOut, $bgColorIn, $bgColorOut,$textColorIn, $textColorOut)
            @include effect_play_button(footerVid01Min, 1s, left 1rem center, left 1.5rem center, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgb(107, 107, 107), rgba(0, 0, 0, 0.7));
        }
    }
}