.hostpot{
    background-image: url('./../img/icon/logo_raspap.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 33%;
}

@media screen and (min-width:1199px){
    .hostpot{
        background-size: 400px;
    }
}