.hotPost{
    &__header{
        // right bottom / 33% no-repeat url('./../img/icon/logo_raspap.png'),
        // background: cover url('./../img/header/hotPost.jpg') ;
        background: right bottom/33% no-repeat  url('./../img/icon/logo_raspap.png'),
        center / cover no-repeat url('./../img/header/hotPost.jpg');
        // background-image: url('./../img/icon/logo_raspap.png');
        // background-repeat: no-repeat;
        // background-position: right bottom;
        // background-size: 33%;
        min-height: 400px;
        @include move-Axe-Y(header,4s, 40px);
        overflow: hidden;
    }
}

@media screen and (min-width:1199px){
    .hotPost__header{
        background: right bottom/400px no-repeat  url('./../img/icon/logo_raspap.png'),
        center / cover no-repeat url('./../img/header/hotPost.jpg');
    }
}