.hotPost{
    &__header{
        background: right bottom/33% no-repeat  url('./../img/icon/logo_raspap.png'),
        center / cover no-repeat url('./../img/header/hotPost.jpg');
        min-height: 400px;
        overflow: hidden;
        @include move-Axe-Y($name:hotPost01,$delai:4s, $start-Top:20px);

        h1,h2{
            @include move-Axe-Y($name:hotPost02,$delai:4s, $start-Top:100%);
        }

    }
}

@media screen and (min-width:1199px){
    .hotPost__header{
        background: right bottom/400px no-repeat  url('./../img/icon/logo_raspap.png'),
        center / cover no-repeat url('./../img/header/hotPost.jpg');
    }
}