.hotPost{
    &__header{
        background: right bottom/33% no-repeat  url('./../img/icon/logo_raspap.png'),
        center / cover no-repeat url('./../img/header/hotPost.jpg');
        min-height: 400px;
        overflow: hidden;
        @include move-Axe-Y($name:hotPost01,$delai:1s, $start-Top:20px);

        h1{
            animation: bounceInUp 2s;
        }

        h2{
            animation: bounceInUp 2.5s;
        }

    }
}

@media screen and (min-width:1199px){
    .hotPost__header{
        background: right bottom/400px no-repeat  url('./../img/icon/logo_raspap.png'),
        center / cover no-repeat url('./../img/header/hotPost.jpg');
    }
}