@mixin play_button ($bg-position, $bg-size, $ft-size, $padding) {
    position: absolute;
    background-color: white;
    color: black;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMjAgMjgiIHdpZHRoPSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtNTUuMTE5ODg2OSAyMS4zMDczODQ2djI3LjM4NTIzMDhsMTkuODg1NDgwNS0xMy42OTI2MTU0eiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTU1IC0yMSkiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: $bg-position;
    background-size: $bg-size;
    font-size: $ft-size;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: $padding;
}



/* ******************************************
effet sur les boutons de lecture video.
****************************************** */
@mixin keyframes($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-ms-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin effect_play_button($animation_name, $delai, $valueIn, $valueOut, $bgColorIn, $bgColorOut, $textColorIn, $textColorOut) {
    -webkit-animation: $animation_name $delai alternate linear infinite;
    animation: $animation_name $delai alternate linear infinite;

    @include keyframes($animation_name) {
        0% {
            background-color: $bgColorIn;
            background-position: $valueIn;
            color: $textColorIn;
            @include box-shadow-up;
        }

        70%,
        100% {
            color: $textColorOut;
            @include box-shadow-down;
        }

        100% {
            background-position: $valueOut;
            background-color: $bgColorOut;
        }
    }
}