
.code{
    margin-top: -10px;
    padding:10px;
    color:black;
    background-color: #f5f5f5;
    border:2px dotted rgba(87, 88, 160, 0.71);
    border-radius: 5px;
    line-height: 1.7em;
}

.extrait{
    padding: 0 5px 2px 5px;
    color:rgb(129, 20, 20);
    background-color: #f5f5f5;
    border:1px solid rgba(87, 88, 160, 0.71);
    border-radius: 2px;
}

.container-code {
    width: 100%;
    height: 100%;
}

.code__header {
    background-image: url('./../img/header/code.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
    overflow: hidden;

    @include move-Axe-Y($name:code01, $delai:1s, $start-Top:-10px);

    h1 {
        @include auto-prefixer__property(animation, bounceInDown 2s, webkit moz o);
    }

    h2 {
        @include auto-prefixer__property(animation, bounceInRight 2s, webkit moz o);
    }
}