.telecommand {

    &__header {
        background-image:  url('./../img/header/techno.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 400px;
        overflow: hidden;
        @include move-Axe-Y($name:telecommand01,$delai:3s, $start-Top:10px);

        h1{
            @include move-Axe-X($name:telecommand02,$delai:2s,$start-Top:-100%);
        }

        h2{
            @include move-Axe-X($name:telecommand03,$delai:2s,$start-Top:100%);
        }
    }
}