
.telecom-composant {
    &__header {
        background-image:  url('./../img/header/electronique.jpg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        min-height: 400px;
        overflow: hidden;
    
        h1 {
            @include move-Axe-Y($name:teleCompos02, $delai:2s, $start-Top:60%);
        }

        h2 {
            @include move-Axe-Y($name:teleCompos03, $delai:2s, $start-Top:-60%);
        }           
    }
}
