<div class="cardRc">
    <div class="cardRc__titre">
        {{ include.cardRc__title }}
    </div>
    <div class="cardRc__body">
            {% if include.cardRc__link  %}
                <a href="{{ include.cardRc__link | relative_url }}" {% if include.cardRc__linkOut %} target="_blank" {% endif %}>
                    <img src="{{ include.cardRc__img | relative_url }}" alt="{{ include.cardRc__title }}">
                </a>
                <!-- <div class="cardRc__body__text">
                    <a href="{{ include.cardRc__link | relative_url }}" {% if include.cardRc__linkOut %} target="_blank" {% endif %} class="text-white txtShadow--black">
                        {% if include.cardRc__text %}
                            <p>{{ include.cardRc__text }}</p>
                        {% endif %}
                    </a> 
                </div> -->
            {% else %} 
                <img src="{{ include.cardRc__img | relative_url }}" alt="{{ include.cardRc__title }}">
                <!-- <div class="cardRc__body__text text-dark txtShadow--white">
                    {% if include.cardRc__text %}
                        <p>{{ include.cardRc__text }}</p>
                    {% endif %}
                </div> -->
            {% endif %}       
    </div>
</div>