
<!-- Image trigger modal -->
<img src="{{ include.modal__imgSRC | relative_url }}" alt="{{ include.modal__title }}" class="{{ include.modal__effectImage }} modal__vignettes modal__cursor-zoomIn" data-toggle="modal" data-target="#{{ include.modal__id }}">
<!-- Modal -->
<div class="modal fade" id="{{include.modal__id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog modal-{{ include.modal__breakpoint }}">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title text-dark" id="exampleModalLabel">{{ include.modal__title }}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <img src="{{ include.modal__imgSRC | relative_url  }}" alt="Télécommande" width="100%">
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
           </div>
       </div>
   </div>
</div>