---
layout: default
---

<section class="container bgColor--blackMedium p-4 mt-2">  
    <section class="row">
        <div class="col-12 rounded">
            <aside class="text-center bgColor-title--blue box-border">
                <h1 class="txtShadow--white  p-4">Projet robotique <br>( Raspberry et arduino )</h1>
                <h3 class="text-info txtShadow--black  p-4">Conception d'un robot motorisé et avec camera infra-rouge articulé sur servomoteurs</h3>
            </aside>
        </div>
    </section>  

    <section class="row text-white mt-4 no-gutters">
        <div class="col-12 col-xl-3 text-center pb-4 bgColor--orangeLight rounded box-border">
            <h4 class="txtShadow--black pt-3">Conception de la télécommande</h4>
            <!-- MODAL IMAGE BALISE <img> -->
            {%- assign modal-image__title = "Télécommande" -%}
            {%- assign modal-image__imgSRC = "assets/img/telecom1.png" -%}
            {%- assign modal-image__id = "telecommande" -%}
            {%- assign modal-image__breakpoint = "md" -%}
            {%- include modal-image.html -%}
        </div>
        <div class="col-12 col-xl-6 text-center  my-2">
            <h4 class="txtShadow--black pt-3">Démonstration</h4>
            <video controls>
                <source src="assets/video/video.mp4" type="video/mp4">
                <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                    Voici <a href="assets/video/video.mp4">un lien pour télécharger la vidéo</a>.</p>
            </video>
        </div>
        <div class="col-12 col-xl-3 text-center pb-4 bgColor--orangeLight rounded box-border">
            <h4 class="txtShadow--black pt-3">Conception du vehicule</h4>
            <!-- MODAL IMAGE BALISE <img> -->
            {%- assign modal-image__title = "Véhicule" -%}
            {%- assign modal-image__imgSRC = "assets/img/vehicule.jpg" -%}
            {%- assign modal-image__id = "vehicule" -%}
            {%- assign modal-image__breakpoint = "md" -%}
            {%- include modal-image.html -%}
        </div>
    </section>
</section>



