---
layout: default
---



<section class="container-fluid robotique">
    <div class="row bgColor--raspberry robotique__header titre-header">
        <div class="col-12 col-lg-3 d-none d-lg-flex justify-content-center align-items-center">
            <img src="assets/img/composants/raspberry-pi-4.webp" alt="Raspberry-pi">
        </div>
        <div class="col-12 col-lg-6 py-5">
            <aside class="text-center">
                <h1 class="txtShadow--black txt-color--yellow p-4"> Projet robotique<br>(Raspberry et arduino)</h1>
                <h3 class="text-white txtShadow--black p-4">Conception d'un robot motorisé <br> avec caméra infra-rouge
                </h3>
            </aside>
        </div>
        <div class="col-12 col-lg-3 d-none d-lg-flex justify-content-center align-items-center">
            <img src="assets/img/composants/arduino-officiel.png" alt="Arduino uno">
        </div>
    </div>
</section>

<section class="container">
    <section class="row mt-4">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div class="text-center">
                {%- assign modal-image__title = "Radio télécommande" -%}
                {%- assign modal-image__imgSRC = "assets/img/telecommande.png" -%}
                {%- assign modal-image__id = "telecommande" -%}
                {%- assign modal-image__breakpoint = "lg" -%}
                {%- include modal-image.html -%}
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div>
                <h4 class="txtShadow--white txt-color--raspberry">La télecommande</h4>
                <p>Un <a href="{{'/telecom-configRadio.html' | relative_url }}"><span class="font-weight-bold"> émetteur récepteur </span></a>connecté au microcontroleur arduino permet d'envoyer les positions des
                    joysticks et l'état de boutons. Un programme convertit les valeurs analogiques et numériques puis
                    structures les données avant de les transmettres par ondes radio.
                </p>
                <p>Lorsque la télécommande est mise sous tension, 3
                    <a href="{{'/led.html' | relative_url }}">
                        <span class="font-weight-bold"> LED </span>
                    </a>
                clignotent, indiquant que le script arduino s'est chargé normalement. <br>
                Puis le led bleue s'allume à chaque émission d'onde radio. </p>
            </div>
        </div>
    </section>

    <section class="row mt-4">
        <div class="col-12 order-2 col-md-6 order-md-1 d-flex align-items-center">
            <div>
                <h4 class="txtShadow--white txt-color--raspberry">Interface de commande web</h4>
                <p>Son rôle est identique à la solution décrite dans le paragraphe précédent. <br> Le mode de
                    communication
                    exploite les technologies Web. Déployé sur le raspberry, <a href="{{'#' | relative_url }}"><span class="font-weight-bold"> l'interface web </span></a> communique avec un serveur
                    qui
                    interagit avec le microcontrôleur arduino. <br> Les commandes peuvent être executer de façon
                    distante à
                    travers le reseau internet ou localement en utilisant le point d'accès installée sur le système
                    d'exploitation de notre raspberry.</p>
            </div>
        </div>
        <div class="col-12 order-1 col-md-6 d-flex align-items-center">
            <div class="text-center">
                {%- assign modal-image__title = "Interface de commande web" -%}
                {%- assign modal-image__imgSRC = "assets/img/web-pc.png" -%}
                {%- assign modal-image__id = "web" -%}
                {%- assign modal-image__breakpoint = "lg" -%}
                {%- include modal-image.html -%}
            </div>
        </div>
    </section>

    <section class="row mt-4">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div class="text-center">
                {%- assign modal-image__title = "Robot" -%}
                {%- assign modal-image__imgSRC = "assets/img/robot.png" -%}
                {%- assign modal-image__id = "vehicule" -%}
                {%- assign modal-image__breakpoint = "lg" -%}
                {%- include modal-image.html -%}
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div>
                <h4 class="txtShadow--white txt-color--raspberry">Le robot</h4>
                <p>Une page web permet de 
                    <a href="{{'/rpiCam.html' | relative_url }}">
                        <span class="font-weight-bold">  visualiser le flux vidéo </span>
                    </a>
                     et de traiter les requêtes des utilisateurs à
                    l'aide
                    de l'interface de commande ci-dessus. <br>Le microcontroleur Arduino gère la partie éléctronique, actionne
                    les
                    moteurs, et récupère les données renvoyées par les capteurs. </p>
            </div>
        </div>
    </section>
</section>

<section class="container-fluid robotique my-2">
    <div class="row">
        <div class="col-12 robotique__video p-0">
            <div class="o-container robotique__video__container">
                <button class="robotique__video__play-button">Regarder la vidéo</button>              
            </div>
        </div>
    </div>
</section>

<section class="container robotique py-4 my-2">
    <section class="row no-gutters box-border">
        <div class="col-12">
            <h4 class="txtShadow--white txt-color--raspberry bgColor--orangeLight p-4 text-center">
                Différences entre Raspberry et Arduino</h4>
            <table class="mt-5">
                <tbody>
                    <tr>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                        <td>
                            <p class="text-info"><strong>Arduino Uno</strong></p>
                        </td>
                        <td>
                            <p class="text-info"><strong>Raspberry Pi 4 Modèle B</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Prix</p>
                        </td>
                        <td class="px-2">
                            <p>env. 23 €</p>
                        </td>
                        <td class="px-2">
                            <p>env. 39 € à 83,95 €</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Taille</p>
                        </td>
                        <td class="px-2">
                            <p>7.6 x&nbsp;1.9 x 6.4&nbsp;cm</p>
                        </td>
                        <td class="px-2">
                            <p>8.5 cm × &nbsp;5.6 cm × 1.6&nbsp; cm</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Mémoire vive</p>
                        </td>
                        <td class="px-2">
                            <p>0.002 MB</p>
                        </td>
                        <td class="px-2">
                            <p>1GB, 2GB, ou 4GB de mémoire SDRAM LPDDR4</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Vitesse d’horloge</p>
                        </td>
                        <td class="px-2">
                            <p>16&nbsp;MHz</p>
                        </td>
                        <td>
                            <p> ARM A72 quadricœur cadencé à 1,5 GHz</p>
                        </td class="px-2">
                    </tr>
                    <tr>
                        <td>
                            <p>Réseau embarqué</p>
                        </td>
                        <td class="px-2">
                            <p>Aucun</p>
                        </td>
                        <td class="px-2">
                            <p>1 WIFI 802.11b / g / n / ac de 2,4 GHz et 5,0 GHz <br> Gigabit Ethernet port RJ45<br>
                                Bluetooth 5.0 BLE</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Capacité multitâche</p>
                        </td>
                        <td class="px-2">
                            <p>Non</p>
                        </td>
                        <td class="px-2">
                            <p>Oui</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Tension d’entrée</p>
                        </td>
                        <td class="px-2">
                            <p>7 à 12&nbsp;V</p>
                        </td>
                        <td class="px-2">
                            <p>5V DC via USB-C, Compatible PoE nécessitant PoE HAT (non fourni), 5V DC via GPIO</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Mémoire flash</p>
                        </td>
                        <td class="px-2">
                            <p>32&nbsp;KB</p>
                        </td>
                        <td class="px-2">
                            <p>Carte SD</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>USB</p>
                        </td>
                        <td class="px-2">
                            <p>1 entrée uniquement</p>
                        </td>
                        <td class="px-2">
                            <p>4 port usb dont 2 (2.0), 2 (3.0)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Système d’exploitation</p>
                        </td>
                        <td class="px-2">
                            <p>Non</p>
                        </td>
                        <td class="px-2">
                            <p>Distributions Lunix "Raspberry Pi OS" (32 bits, 64 bits)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Environnement de développement intégré (IDE)</p>
                        </td>
                        <td class="px-2">
                            <p>Arduino</p>
                        </td>
                        <td class="px-2">
                            <p>Scratch, IDLE, tout dispositif avec Linux</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row mt-4">
                <div class="col-12 col-lg-6">
                    <!-- MODAL IMAGE Raspberry -->
                    <div class="text-center bg-white">
                        {%- assign modal-image__title = "Raspberry" -%}
                        {%- assign modal-image__imgSRC = "assets/img/composants/raspberry-pi4.png" -%}
                        {%- assign modal-image__id = "raspberry" -%}
                        {%- assign modal-image__breakpoint = "lg" -%}
                        {%- include modal-image.html -%}
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex align-items-center">
                    <p><span class="font-weight-bold txt-color--raspberry">Le raspberry</span> est en faite un micro
                        ordinateur, plus rapide et plus complexe à utiliser que
                        l'arduino.
                        <br>
                        Il permet d'exécuter un système d’exploitation réel sous Linux. Il peut effectuer plusieurs
                        tâches, il
                        dispose jusqu’à quatre ports USB en natif et peut se connecter
                        à
                        Internet en
                        wifi ou en filaire. <br>
                        Dans le cadre de se projet il permet d'héberger un serveur (Apache, PHP, MySQL, node Js) et
                        servir de
                        HostPot, gérer une caméra ou webCam. <br>
                        En faite il est idéale pour envoyer des instructions à un arduino. Il accepte de nombreux
                        langages de
                        programmations C++, python, java... .
                    </p>
                </div>
            </div>
            <div class="row mt-4 mt-0-xl">
                <div class="col-12 col-lg-6 order-2 order-lg-1 d-flex align-items-center">
                    <p><span class="font-weight-bold txt-color--raspberry">L'arduino</span> est certe moins
                        puissant,
                        mais cette carte programmable simple sur laquelle on branche
                        des
                        composants électroniques, possède un grand nombre d'entrés/sorties (plus que le raspberry)
                        ce
                        qui permet
                        de brancher beaucoup de composants (capteurs, leds et autres... ). <br>
                        Il est donc principalement utilisé pour réaliser des interfaces électroniques avec des
                        capteurs,
                        des
                        actionneurs, circuits électroniques et autres... Une fois le programme chargé, l'Arduino
                        l’exécute en
                        boucle de manière autonome. Le langage utilisé est le C.</p>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-2">
                    <!-- MODAL IMAGE Arduino -->
                    <div class="text-center">
                        {%- assign modal-image__title = "Arduino" -%}
                        {%- assign modal-image__imgSRC = "assets/img/composants/arduino.png" -%}
                        {%- assign modal-image__id = "arduino" -%}
                        {%- assign modal-image__breakpoint = "md" -%}
                        {%- include modal-image.html -%}
                    </div>
                </div>
            </div>
            <p>En conclusion il fonctionne parfaitement ensemble, et donc complémentaires. </p>
        </div>
    </section>

    <section class="row no-gutters box-border mt-4 py-4">
        <div class="col-12">
            <h4 class="txtShadow--white txt-color--raspberry bgColor--orangeLight p-4 font-weight-bold text-center">
                Schéma de fonctionnement</h4>
            <p>
                J'ai prévu 2 modes de contrôle commande :
                <ul>
                    <li>Matériel</li>
                    <li>Logiciel</li>
                </ul>
            </p>
        </div>
        <div class="col-12 col-lg-6 p-3">
            <h4 class=" mt-4">Matériel</h4>
            <p>
                La première solution nécessite la réalisation d'une <a
                    href="{{'/telecom-composant.html' | relative_url }}"> télécommande</a>. <br>
                Dans ce cas la communication entre la télécommande et le véhicule est réalisée via les ondes radios.
                Les composants principaux sont une carte arduino uno, 2 joystick, des leds et un émetteur récepteur
                2.4
                ghz.
            </p>
            <!-- MODAL IMAGE BALISE <img> -->
            <div class="text-center">
                {%- assign modal-image__title = "Solution matériel" -%}
                {%- assign modal-image__imgSRC = "assets/img/schema/telecommande-arduino.png" -%}
                {%- assign modal-image__id = "matériel" -%}
                {%- assign modal-image__breakpoint = "xl" -%}
                {%- include modal-image.html -%}
            </div>
        </div>

        <div class="col-12 col-lg-6 p-3">
            <h4 class=" mt-4">Logiciel</h4>
            <p>La seconde méthode nécessite le développement d'une interface web connectée à un serveur. J'ai opté
                pour
                une technologie de type front end. <br>
                <span class="font-weight-bold">Node Js</span> permet de développer en quelques lignes un serveur
                fonctionnel, c'est un environnement d'exécution JavaScript asynchrone et orienté événement. <br>
                Le noyau de Node.js est tout petit. De base, Node.js ne sait en fait pas faire grand chose, mais il
                est
                très riche grâce à son extensibilité, il existe des milliers de modules (extensions) qui offrent des
                fonctionnalités variées. <br>
                Comme le montre le schéma ci-dessous, le contrôle commande est géré par le microcontrôleur arduino.
                <br>
                Pour que l'arduino puisse exécuter les différentes actions , il doit pouvoir communiquer avec le
                serveur.
                Le port serie (port de communication) de type USB va permettre l'échange des données entre le
                serveur et
                l'arduino.
                Le module Node SerialPort permet d'interagir entre les deux périphériques.
            </p>
            <!-- MODAL IMAGE BALISE <img> -->
            <div class="text-center">
                {%- assign modal-image__title = "Solution logiciel" -%}
                {%- assign modal-image__imgSRC = "assets/img/schema/serveur-arduino.png" -%}
                {%- assign modal-image__id = "logiciel" -%}
                {%- assign modal-image__breakpoint = "xl" -%}
                {%- include modal-image.html -%}
            </div>
        </div>
    </section>
</section>

<script>
    document.querySelector(".robotique__video__play-button").addEventListener('click', () => {
        document.querySelector('.robotique__video').innerHTML = `
        <video class="robotique__video--height" controls autoplay>
            <source src="assets/video/video.mp4" type="video/mp4">
                <p>Votre navigateur ne prend pas en charge les vidéos HTML5. Voici 
                    <a href="assets/video/video.mp4">un lien pour télécharger la vidéo</a>.
                </p>
        </video>`;
    });
</script>