<!-- <section class="container robotique my-4">
    <div class="row robotique__modele">
        <div class="col-12 col-sm-6 text-center mt-4 ">
            {%- assign modal-image__title = "Radio télécommande" -%}
            {%- assign modal-image__imgSRC = "assets/img/telecommande.png" -%}
            {%- assign modal-image__id = "telecommande" -%}
            {%- assign modal-image__breakpoint = "lg" -%}
            {%- include modal-image.html -%}
        </div>
        <div class="col-12 col-sm-6 mt-4 d-flex justify-content-center align-items-center">
            {%- assign modal-image__title = "Interface de commande web" -%}
            {%- assign modal-image__imgSRC = "assets/img/web-pc.png" -%}
            {%- assign modal-image__id = "web" -%}
            {%- assign modal-image__breakpoint = "md" -%}
            {%- include modal-image.html -%}
        </div>
        <div class="col-8 offset-2 col-sm-6 offset-sm-3 text-center mt-4 ">
            {%- assign modal-image__title = "Robot" -%}
            {%- assign modal-image__imgSRC = "assets/img/robot.png" -%}
            {%- assign modal-image__id = "vehicule" -%}
            {%- assign modal-image__breakpoint = "xl" -%}
            {%- include modal-image.html -%}
        </div>
    </div>
</section> -->

        <!--
    <section class="row my-5">
        <div class="col-6">
            <h3 class="txtShadow--white txt-color--raspberry">Réalisation du projet</h3>
            <p>Ce projet permet de mettre en oeuvre des compétences en électroniques et informatiques. </p>
        </div>
        <div class="col-6">
            <h4 class="txtShadow--white txt-color--raspberry">La télecommande</h4>
            <p>Un émetteur récepteur connecté au microcontroleur arduino permet d'envoyer les positions des joysticks et
                l'état de boutons. Un programme convertit les valeurs analogiques et numériques puis structures les
                données avant de les transmettre par ondes radio. </p>
            <h4 class="txtShadow--white txt-color--raspberry">Interface de commande web</h4>
            <p>Son rôle est identique à la solution décrite dans le paragraphe précédent. <br> Le mode de communication
                exploite les technologies Web. Déployé sur le raspberry, l'interface web communique avec un serveur qui
                interagit avec le microcontrôleur arduino. <br> Les commandes peuvent être executer de façon distante à
                travers le reseau internet ou localement en utilisant le point d'accès installée sur le système
                d'exploitation.</p>
            <h4 class="txtShadow--white txt-color--raspberry">Le robot</h4>
            <p>Une interface web permet de visualiser le flux vidéo, de traiter les requêtes des utilisateurs à l'aide
                de Interface de commande. <br>Le microcontroleur Arduino gère la partie éléctronique, actionner les
                moteurs, et récupèrer les donnés renvoyé par les capteurs. </p>
        </div>
    </section>
      -->