---
layout: default
---

<section class="container-fluid">
    <div class="row">
        <div class="col-12 bgColor--orange p-0">
            <aside class="text-center py-5">
                <h1 class="txtShadow--black txt-color--blue p-4">Emetteur Récepteur <br> sans Fil 2.4G</h1>
                <h3 class="text-white txtShadow--black p-4">Installation et configuration</h3>
            </aside>
        </div>
    </div>
</section>

<section class="container py-4 mt-2">
    <section class="container mt-4">
        <div class="col-12 mt-4 py-4">
            <h4>Le module NRF24L01</h4>
            <p> Il peut à la fois envoyer et recevoir les données.<p>
            <h4>Spécifications du module nRF24L01</h4>
            <ul>
                <li>La consommation d'énergie est d'environ 12mA pendant la transmission, ce qui est encore moins que la led.</li>
                <li>Il peut fonctionner avec des débits en bauds de 250 Kbps à 2 Mbps.</li>
                <li>Sa portée peut atteindre jusqu'à 100 mètres si elle est utilisée en espace ouvert et avec antenne.</li>
                <li>Il peut à la fois envoyer et recevoir les données simultanément.</li>
                <li>Chaque module peut communiquer avec jusqu'à 6 autres modules.</li>
                <li>Il utilise la bande 2,4 GHz.</li>
                <li>Il peut envoyer de 1 à 25 octets de données brutes à une vitesse de transmission de 1 Mo.</li>
                <li>Il dispose de 125 canaux différents.</li>
            </ul>
            <h4>Connectique</h4>
            <div class="row">
                <div class="col-12 col-md-6">
                    <!-- Modal -->
                    {%- assign modal-image__title = "Module nrf24l01" -%}
                    {%- assign modal-image__imgSRC = "assets/img/montage/nrf24l01.jpg" -%}
                    {%- assign modal-image__id = "connectique" -%}
                    {%- assign modal-image__breakpoint = "xl" -%}
                    {%- include modal-image.html -%}
                </div>
                <div class="col-12 col-md-6">
                    <p class="colorGreen">Broches utilisées pour le UNO</p>
                    <ul class="colorGreen">
                        <li>MISO -> 12 </li>
                        <li>MOSI -> 11</li>
                        <li>SCK -> 13</li>
                        <li>CE -> 8</li>
                        <li>CSN -> 7</li>
                        <li>GND -> GND</li>
                        <li>VCC -> 3.3v (Volts du regulateur)</li>
                    </ul>
                </div>
            </div> 

            <div class="row"> 
                <div class="col-12">
                    <p class="mt-2"> La tension de fonctionnement de ce module est de 1,9 à 3,6 V mais les autres broches sont tolérantes à 5 V, ce qui signifie que les autres broches peuvent être directement connectées à l'Arduino. <br>
                        Le MOSI, MISO et le SCK sont les broches SPI et ceux-ci doivent être connectés aux broches SPI d'Arduino. Différents Arduino ont différentes broches SPI. <br>
                        Le CSN et le CE servent à mettre le module en mode actif et à basculer entre le mode de commande et le mode de transmission. Ceux-ci peuvent être connectés à toutes les broches numériques d'Arduino. <br>
                        La broche IRQ est la broche d'interruption et vous n'avez pas besoin de la connecter.   
                    </p>
                    <p>Télécharger la libraire <span class="font-weight-bold"> nrf24l01</span><a href="assets/librairie/arduino-nrf24l01.zip"> ici.</a></p>
                    <p>Puis l'installer avec le software Arduino téléchargeable à <a href="https://www.arduino.cc/en/main/software" target="_blank"> sur le site officiel.</a></p>
                    {%- assign modal-image__title = "Importer une librairie" -%}
                    {%- assign modal-image__imgSRC = "assets/img/arduino-biblio.jpg" -%}
                    {%- assign modal-image__id = "librairie" -%}
                    {%- assign modal-image__breakpoint = "lg" -%}
                    {%- include modal-image.html -%}
                    <!-- <img src="assets/img/arduino-biblio.jpg" alt="arduino bibliothèque"> -->
                    <p class="mt-2">Enfin ajouter la librairie dans l'onglet croquis <span class="extrait">inclure une bibliothèque</span>.</p>
                    <p>Retrouvez les détails dans <a href="{{'./telecom-code.html' | relative_url }}"> le code source.</a> </p>
                </div>
            </div>
        </div>
    </section>
</section>