---
layout: default
---

<!-- VEHICULE -->
<section class="container-fluid">
    <section class="row">
        <div class="col-12 py-5 animate-bg-blue">
            <aside class="text-center titre-header">
                <h1 class="txtShadow--black txt-color--yellow p-4">Conception du véhicule</h1>
                <h3 class="text-white txtShadow--black p-4">Liste des composants</h3>
            </aside>
        </div>
    </section>
</section>


<section class="container mt-2 rounded">
        <section class="row text-white">
            <section class="col-12 composant">
                <!-- CARTE -->
                <div class="rc-carte  box-shadow-down">
                    <div class="rc-carte__titre">
                        Plaque de plexiglass
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/pexi.png" alt="Plaque de plexiglass">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Arduino Mega
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/arduino-mega.jpg" alt="Arduino Mega">
                    </div>
                </div>
                
                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Raspberry
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/raspberry.jpg" alt="Raspberry">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        2X Module IBT-2
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/ibt2.jpg" alt="2X Module IBT-2">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Emetteur Récepteur sans Fil 2.4G 1100m NRF24L01+PA+LNA avec antenne KY67
                    </div>
                    <div class="rc-carte__image">
                        <a href="{{'./telecom-configRadio.html' | relative_url }}">
                            <img src="assets/img/composants/emetteur-recepteur.jpg" alt="Emetteur Récepteur sans Fil 2.4G 1100m NRF24L01+PA+LNA avec antenne KY67">
                        </a>
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Caméra infrarouge de vision nocturne
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/camera.jpg" alt="Caméra infrarouge de vision nocturne">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Nappe pour raccordement caméra
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/nappe.jpg" alt="Nappe pour raccordement caméra">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Servomoteurs
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/servomoteur.jpg" alt="Servomoteurs">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        MCP23017- utilise 2 broches I2C, pour ajouter 16 entrées/sorties à votre Arduino. 
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/MCP23017-chip.jpg" alt="MCP23017">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Ecran LCD
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/afficheur-lcd.jpg" alt="Ecran LCD">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Motoréducteur - 6V - 75:1
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/motoreducteur.jpg" alt="Motoréducteur - 6V - 75:1">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Boitier piles 4 x 1,5V AA
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/boitier-piles.jpg" alt="Boitier piles 4 x 1,5V AA">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Plaque de prototypage (Breadboard)
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/breadboard.jpg" alt="Plaque de prototypage (Breadboard)">
                    </div>
                </div>
   
                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Circuit imprimé 4x6cm
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/plaquesasouder.png" alt="Circuit imprimé 4x6cm">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Cables pour plaque de prototypage
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/cable.png" alt="Cables pour plaque de prototypage">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Potentiomètres
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/potentiometre.png" alt="Potentiomètres">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Boutons pour potentiomètres
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/Boutons-potentiometre.jpg" alt="Boutons pour potentiomètres">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Résistances
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/resistances.png" alt="Résistances">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Led
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/led.png" alt="Led">
                    </div>
                </div>

                <!-- CARTE -->
                <div class="rc-carte">
                    <div class="rc-carte__titre">
                        Pin strip Reglette a broches
                    </div>
                    <div class="rc-carte__image">
                        <img src="assets/img/composants/broches.png" alt="Pin strip Reglette a broches">
                    </div>
                </div>
            </section>
        </section>

</section>