---
layout: default
title: Pièces du Véhicule
---

<!-- VEHICULE -->

<section class="container bgColor--blackLight p-4 mt-2 rounded">
    <section class="row">
        <div class="col-12 rounded">
            <aside class="text-center bgColor-title--blue box-border">
                <h1 class="txtShadow--white  p-4">Conception du véhicule</h1>
                <h3 class="text-info txtShadow--black  p-4">Liste des composants</h3>
            </aside>
        </div>
    </section>  

    <section class="container text-white mt-4">
        <section class="row rounded p-4">
            <section class="row composant">
                <div class="rc-card">
                    <div class="rc-card__text">
                        Plaque de plexiglass
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/pexi.png" alt="Pexiglass">
                    </div>
                </div>
            <div class="rc-card">
                    <div class="rc-card__text">
                        Arduino Mega
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/arduino-mega.jpg" alt="Arduino Mega">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Raspberry
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/raspberry.jpg" alt="Raspberry">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        2 - Module IBT-2
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/ibt2.jpg" alt="Module IBT-2">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Emetteur Récepteur sans Fil 2.4G 1100m NRF24L01+PA+LNA avec antenne KY67
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/emetteur-recepteur.jpg" alt="Emetteur Récepteur sans Fil 2.4G">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Caméra infrarouge de vision nocturne
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/camera.jpg" alt="Camera infrarouge">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Nappe pour raccordement caméra
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/nappe.jpg" alt="Nappe pour Camera">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Servomoteurs
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/servomoteur.jpg" alt="Servomoteurs">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        MCP23017- utilise 2 broches I2C, fournit 16 broches d'utilisation générale en plus
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/MCP23017.jpg" alt=" MCP23017"> 
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Ecran LCD
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/ecran-LCD.jpg" alt="Ecran LCD"> 
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Motoréducteur - 6V - 75:1
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/motoreducteur.jpg" alt="Ecran LCD"> 
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Boitier piles 4 x 1,5V AA
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/boitier-piles.jpg" alt="Ecran LCD"> 
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Plaque de prototypage (Breadboard)
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/breadboard.jpg" alt="Circuit imprimé">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Circuit imprimé 4x6cm
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/plaquesasouder.png" alt="Circuit imprimé">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Cables pour plaque de prototypage
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/cable.png" alt="Cables pour plaque de prototypage"> 
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Potentiomètres
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/potentiometre.png" alt="Potentiomètres"> 
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Boutons pour potentiomètres
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/Boutons-potentiometre.jpg" alt="Boutons pour potentiomètres"> 
                    </div>
                </div>
                
                <div class="rc-card">
                    <div class="rc-card__text">
                        Résistances
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/resistances.png" alt="Résistances"> 
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Led
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/led.png" alt="Led">
                    </div>
                </div>
                <div class="rc-card">
                    <div class="rc-card__text">
                        Pin strip Reglette a broches
                    </div>
                    <div class="rc-card__image">
                        <img src="assets/img/composants/broches.png" alt="Pin strip Reglette a broches">
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>